html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0 5em 0 5em;
}

header {
  display: flex;
  flex-flow: column nowrap;
}

div.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.navbar .nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: .5em;
}

.intro {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 1 50%;
}

.intro div h1, p {
  margin: 0;
}

.intro.sign-up {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.intro-img img {
  width: 300px;
  height: auto;
}

button.sign-up {
  align-self: flex-start;

}
