html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

header {
  display: flex;
  flex-flow: column nowrap;
  background-color: #1F2937;
  padding: 0 10em 8em 12em;
}

div.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.navbar .nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: .5em;
}

.navbar .nav-links a,
.intro p {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.navbar h3 {
  font-size: 24px;
  color: #E5E7EB;
}

.intro {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 1 50%;
}

.intro p {
  margin-top: 0;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin-bottom: .25em;
  margin-top: 0;
}

.intro.sign-up {
  display: flex;
  flex-direction: column;
}

.intro-img img {
  width: 400px;
  height: auto;
}

button.sign-up {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 8px 30px;
  border-radius: .5em;
  border-style: none;
  font-size: 18px;
  font-weight: 400;
}

button.sign-up:hover {
  cursor: pointer;
  background-color: rgba(40, 96, 226, 0.661);
}

footer {
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
}

footer p {
  color: #E5E7EB;
  font-size: 18px;
}
